{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>contact</title>
{% endblock meta %}

{% block content %}    
    <div class="container">
        <div class="row align-items-center mx-auto mt-5">
            <div class="col">
                <img src="{% static 'img/line.png' %}" alt="line logo">
            </div>
            <div class="col">
                <img src="{% static 'img/wa.png' %}" alt="wa logo">
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="row align-items-center mx-auto mt-5">
            <div class="col">
                <h3>fadhl27(ID line)</h3>
            </div>
            <div class="col">
                <h3>0895639335729</h3>
            </div>
        </div>
    </div>
{% endblock content %}