{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>daftar kegiatan</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="row">
    {% for res in result %}
		<div class="col mb-5">
			<div class="card" style="width: 18rem;">
				<div class="card-header">
					<div class="text-center">
						{{res.namakegiatan}}
					</div>
				</div>
					{% for r in res.peserta %}		
						<a>{{r.namapendaftar}}</a>			
					{% endfor %}
				<a type="button" class="btn btn-dark" href={%url 'main:tambahnama' res.id%}>tambah nama</a>
				<a type="button" class="btn btn-dark" href={%url 'main:hapuskegiatan' res.id%}>hapus kegiatan</a>
			</div>
		</div>    
	{% endfor %}
    
  </div>
</div>	
<div class="text-center">			
	<a type="button" class="btn btn-dark" href={%url 'main:tambahkegiatan'%}>tambah kegiatan</a>
</div>
{% endblock content %}


      
