{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>experience</title>
{% endblock meta %}

{% block content %}
    <div class="container">
        <div class="row align-items-center mx-auto mt-5">
            <div class="col">
                <img src="{% static 'img/fuki.png' %}" alt="fuki logo">
            </div>
            <div class="col">
                <img src="{% static 'img/mediafuki.png' %}" alt="fuki media logo">
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="row align-items-center mx-auto mt-5">
            <div class="col">
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;staff at media fuki fasilkom ui</h1>
            </div>
        </div>
    </div>
{% endblock content %}