{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>hasil</title>
{% endblock meta %}

{% block content %}
<form method="POST">
<table class="table table-striped">
    <tr>
		<th>nama</th>
		<th>Dosen</th>
		<th>sks</th>
		<th>deskripsi</th>
		<th>tahun</th>
		<th>kelas</th>
        <th>hapus</th>
	</tr>

		{% for res in result %}
			<tr>
				<td>{{res.nama}}</td>
				<td>{{res.dosen}}</td>
				<td>{{res.sks}}</td>
                <td>{{res.deskripsi}}</td>
				<td>{{res.tahun}}</td>
				<td>{{res.kelas}}</td>
                
                <td><a type="button" class="btn btn-dark" href={%url 'main:hapus' res.id%}>hapus</a></td>
			</tr>    
		{% endfor %}
</table>
<div class="text-center">
    <a type="button" class="btn btn-dark" href={%url 'main:matkuls'%}>tambah</a>
</div>
</form>
{% endblock content %}