{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>home</title>
<style>
  body{
    background-color: black;
  }
</style>
{% endblock meta %}

{% block content %}
<img src="{% static 'img/gambar.jpg' %}" class="rounded-circle mx-auto d-block mt-5" width=400 height=350 alt="foto saya">
<div class="container">
  <div class="row">
    <div class="btn btn-light btn-lg mx-auto mt-5">
      <a href="{% url 'main:profile' %}" role="button" style="color: black; text-decoration: none;">	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;See My Profile	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</a>
      <a href="{% url 'main:story1' %}" role="button" style="color: black; text-decoration: none;">	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;Story1	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</a>
    </div>
  </div>
</div>
{% endblock content %}