{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>profile</title>
{% endblock meta %}
    
{% block content %}
    <div class="container">
        <div class="row align-items-center">
          <div class="col-md-auto">
            <img src="{% static 'img/gambar-removebg-preview.png' %}" alt="foto saya 2" width = "500" height="700">
          </div>
          <div class="col">
            <h1>Fadhl</h1>
            <p>Mahasiswa Sistem Informasi di Fakultas <br>
            Ilmu Komputer Universitas Indonesia</p>
            <h3>NPM</h3>
            <p>1906353952</p>
            <h3>hobi</h3>
            <p>Sepakbola</p>
            <h3>riwayat pendidikan</h3>
            <p>SD islam Al-Azhar 1 <br>
            SMP islam Al-Azhar 1<br>
            SMA islam Al-Azhar 1</p>
          </div>
        </div>
    </div>
{% endblock content %}