{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story1</title>
{% endblock meta %}
{% block content %}
    <h1>profil saya</h1>
    <img src="{% static 'img/gambar.jpg' %}" alt="foto saya">
    <p>nama: fadhl</p>
    <p>npm: 1906353952</p>
    <p>angkatan: 2019</p>
    <p>hobi: sepakbola</p>
    <p>deskripsi diri: rajin belajar</p>
    <p>tempat kuliah: Universitas Indonesia</p>
    <p>riwayat pendidikan: SMA al-azhar 1</p>
    <p>media sosial: fadhl27 (ID line)</p>
    <a href="{% url 'main:home' %}" role="button"> Story3</a>
{% endblock content %}
