{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>story8</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
    <input id="keyword" class="form-control mt-3" placeholder="judul buku">

    <table id="daftar_buku" class="table table-bordered mt-3">
    </table>

<script type="text/javascript">
    $("#keyword").keyup(function(){
        var inp = $("#keyword").val();
        $.ajax({
            url: '/data/?q='+inp,
            success:function(data) {
                var array_items = data.items;
                $("#daftar_buku").empty();
                $("#daftar_buku").append("<thead class=\"thead-light\"><br><tr><br><th scope=\"col\">No</th><br><th scope=\"col\">Judul</th><br><th scope=\"col\">Gambar</th><br></thead>");
                for (i = 0; i<array_items.length; i++) {
                    var judul = array_items[i].volumeInfo.title;
                    var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                    $("#daftar_buku").append("<tbody><br><tr><br><th scope=\"row\">"+(i+1)+"</th><br><td>"+judul+"</td><br><td><img src="+gambar+"></td><br></tr><br></tbody>");
                }
            }
        });
    });
</script>
{% endblock content %}
