{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>story7</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
<!--<button id="swap">swap</button>-->
<div class="card" id="acc1">
<h3 class="accordion" >aktivitas saat ini<button class="btn btn-dark" id="turun1" style="float: right">turun</button><button class="btn btn-dark" id="naik1" style="float: right">naik</button></h3>
<div class="panel">
  <p>mahasiswa s1 di fakultass ilmu komputer universitas indonesia</p>
</div>
</div>

<div class="card" id="acc2">
<h3 class="accordion" >pengalaman organisasi/kepanitiaan<button class="btn btn-dark" id="turun2" style="float: right">turun</button><button class="btn btn-dark" id="naik2" style="float: right">naik</button></h3>
<div class="panel">
  <p>staff bagian media di fuki fasilkom ui</p>
</div>
</div>

<div class="card" id="acc3">
<h3 class="accordion">prestasi<button class="btn btn-dark" id="turun3" style="float: right">turun</button><button class="btn btn-dark" id="naik3" style="float: right">naik</button></h3>
<div class="panel">
  <p>piala dunia 2022</p>
</div>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}


$("#naik1").click(function(){
  var target = $("#acc1").prev();
  if (target.is(".card")) {
    $("#acc1").after(target);
  }
});

$("#naik2").click(function(){
  var target = $("#acc2").prev();
  if (target.is(".card")) {
    $("#acc2").after(target);
  }
});

$("#naik3").click(function(){
  var target = $("#acc3").prev();
  if (target.is(".card")) {
    $("#acc3").after(target);
  }
});

$("#turun1").click(function(){
  var target = $("#acc1").next();
  if (target.is(".card")) {
    $("#acc1").before(target);
  }
});

$("#turun2").click(function(){
  var target = $("#acc2").next();
  if (target.is(".card")) {
    $("#acc2").before(target);
  }
});

$("#turun3").click(function(){
  var target = $("#acc3").next();
  if (target.is(".card")) {
    $("#acc3").before(target);
  }
});
</script>
</script>
{% endblock content %}
