{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>tambahkegiatan</title>
{% endblock meta %}

{% block content %}
<form method="POST">
<div>
    {% csrf_token %}
    {{form.as_p}}
</div>
    <input type="submit" class="btn btn-dark" value="tambah">
</form>
{% endblock content %}