{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>tambah nama</title>
{% endblock meta %}

{% block content %}
<form method="POST">
<div class="form-group">
    {% csrf_token %}
    {{forms.as_p}}
</div>
    <input type="submit" class="btn btn-dark" value="tambah nama">
</form>
{% endblock content %}